{% extends "base.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
<h2>Ranking de Jogadores</h2>
<table class="table">
  <thead>
    <tr>
      <th>Posição</th>
      <th>Usuário</th>
      <th>Pontos</th>
    </tr>
  </thead>
  <tbody>
    {% for item in rankings %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ item.user__email }}</td>
      <td>{{ item.total_points }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!--button invisivel para fazer o trocatema.js reconhecer essa pagina, não juntar ele no base.html não funciona-->
<div class="d-flex justify-content-end mb-3">
  <button id="theme-toggle" class="theme-button1">
    <span></span>
  </button>
</div>
{% endblock %}
